body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    background-color: #ffc5b3;
    background-image: url(img/background.png);
    background-size: cover;
}

h1 {
    width: 260px;
    font-size: 36px;
    line-height: 36px;
    border-left: 2px solid #cccccc;
}
.site-header p {
    font-size: larger;
}

h2 {
    padding-bottom: 12px;
    border-bottom: 2px solid #cccccc;
}
span {
   font-weight: bold;
   display: block;
}


.site-header {
    margin-bottom: 20px;
    width: 100%;
    min-height: 100%;
    background-image: url('img/depositphotos_182141194-stock-photo-february-14-marked-as-valentines.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.container {
    width: 700px;
    margin: 0 auto;
    background-color: white;
    padding: 40px;
    border-radius: 1%;
}

.features p {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 5px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 70px;
  }

  .feature-kitten {
    padding-top: 60px;
    background-image: url("img/valentines.png");
  }
  
  .feature-cat {
    padding-top: 60px;
    background-image: url("img/romantic-dinner-4233556.png");
  }
  
  .feature-train {
    padding-top: 60px;
    background-image: url("img/flower-bouquet-6644645.png");
  }

.history {
    margin-bottom: 30px;
}

.presents {
    width: 250px;
    float: right;
    padding: 10px;
    border:#cccccc;
    border-radius: 30%;
}
.tradition-list{
    padding: auto;

}
.tradition-item
.couple {
    width: 300px;
    float: left;
    padding: 20px;
    border:#cccccc;
    border-radius: 30%;
}

.site-footer {
    display: flex;
    justify-content: center;
    color: #999999;
}
